main {
  height: 100%; /* Full height of the page */
  display: flex; /* Enables flexbox layout */
}

.booking_container {
  display: flex; /* Enables flexbox layout */
  margin: 2em auto; /* Centers the container with margin */
  flex-direction: column; /* Stacks child elements vertically */
  align-items: center; /* Centers elements horizontally */
  padding: 3em; /* Adds padding inside */
  justify-content: center; /* Centers elements vertically */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; /* Adds shadow effect */
}

hr {
  margin: 1em 0; /* Adds spacing above and below */
  color: #e5989b; /* Sets horizontal rule color */
  border: 1px solid #e5989b; /* Adds border */
  opacity: 0.2; /* Reduces visibility */
}

.booking_container h1 {
  color: #e5989b; /* Sets text color to pink */
  text-align: center; /* Centers the heading */
  font-size: 2.6em; /* Increases font size */
  text-shadow: 1px 1px black; /* Adds black text shadow */
  letter-spacing: 0.4em; /* Increases space between letters */
  margin: 0.6em; /* Adds spacing */
}

.form {
  margin: auto; /* Centers the form */
}

.location {
  display: flex; /* Enables flexbox */
  justify-content: baseline; /* Aligns items to the baseline */
}

.location label {
  width: 50%; /* Sets label width */
}

/* This styling allows form legend be placed in one column and radio buttons in the other */
fieldset {
  display: contents;
}

fieldset.photoshoot > legend {
  font-weight: bold; /* Makes legend same as other form labels*/
}

.photoshot {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks elements vertically */
}

.checkbox {
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers items vertically */
  justify-content: baseline; /* Aligns items to the baseline */
}

textarea {
  width: 100%; /* Sets width to the full size of the page*/
  height: 6em; /* Sets bigger height */
  border-color: #e5989b;
}

.button-area {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks buttons vertically */
  align-items: center; /* Centers buttons horizontally */
  justify-content: center;
}

button {
  width: 70%; /* Sets button width */
}

.note {
  background-color: #e5989b; /* Sets background color to pink*/
  opacity: 0.6; /* Sets opacity to 60% */
  padding: 1em; /* Adds padding inside */
  border-radius: 1rem; /* Make corners rounder */
  margin: 1em 0; /* Adds vertical spacing */
}
