@media (min-width: 1200px) {
  * {
    font-size: 1rem;
  }
  /* NAVBAR */
  #navbar {
    justify-content: space-around;
  }
  /* ABOUT */
  #about {
    justify-content: space-evenly;
  }
  #about img {
    width: 18em;
  }
  .about_her {
    width: 40%;
  }

  /* Gallery for portrait and family photo */
  .home_gallery_container h2 {
    font-family: 2.4em;
  }
  .home_gallery_container .desktop {
    display: inline;
  }
  .home_gallery_container .tablet {
    display: inline;
  }
  .home_gallery_container img {
    margin: 0.6em 1.5em;
    width: 15em;
    height: 350px;
  }
  /* PROCESS  */
  #process {
    margin: auto;
    width: 50%;
    justify-content: center;
  }

  #process h1 {
    margin: 1em 2em;
  }
  /* Footer */
  aside .footer-menu {
    display: flex;
  }
  aside .footer-item {
    margin: 1em 1.5em;
  }
  #navbar img {
    width: 7em;
  }
  .login_container,
  .side_container,
  .signin_container {
    width: 30%;
    margin: 2em 0.5em;
    padding: 1em;
  }
  #signin_container,
  #login_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: all 2s ease-in;
  }

  @keyframes fadeOut {
    from {
      opacity: 0;
      transform: translateX(200%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-200%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateX(200%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeout {
    from {
      opacity: 0;
      transform: translateX(-200%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
