.fa-instagram:hover {
  color: blueviolet; /* Changes Instagram icon color to blueviolet on hover */
}

.fa-facebook:hover {
  color: blue; /* Changes Facebook icon color to blue on hover */
}

footer {
  background-color: #fff0d1; /* Sets footer background to light beige */
  padding: 20px 0; /* Adds vertical padding */
  width: 100%; /* Makes footer full width */
  color: #3b3030; /* Sets text color to dark brown */
  position: relative; /* Ensures proper placement in layout */
  bottom: 0; /* Positions footer at the bottom */
  margin-top: auto; /* Pushes the footer to the bottom of the page */
}

#container {
  display: grid; /* Enables grid layout */
  grid-template-columns: 1fr 1fr 1fr; /* Creates 3 equal columns */
  justify-content: space-evenly; /* Distributes elements evenly */
  align-items: flex-start; /* Aligns items vertically in the center */
  width: 100%; /* Ensures full width */
}

/* Contact Me section */
address {
  display: flex; /* Enables flex layout */
  flex-direction: column; /* Places elements in vertical axis */
  justify-content: space-around; /* Distributes elements evenly */
  align-items: flex-start; /* Aligns items vertically in the center */
  font-style: normal; /* Resets any italic styles */
  margin: 0 0 0 1rem; /* Adds spacing at the left side */
}

/* Class Pages */
.pages {
  text-align: center; /* Centers text */
}

.footer-item {
  margin: 0 0 0.6rem 0; /* Adds vertical spacing below the link */
}

.footer-item a {
  color: #3b3030; /* Sets default text color */
  transition: 1s ease; /* Adds smooth color transition */
}

.footer-item a:hover {
  color: #795757; /* Changes text color on hover */
  font-weight: bold; /* Makes text bold on hover */
}

.footer-links {
  display: flex; /* Enables flex layout for social media section */
  flex-direction: column; /* Places elements in vertical axis */
  justify-content: space-around; 
  align-items:center;
}

/* Class social-media */
.social-media {
  display:flex; /* Enables flex layout for social media links */
  flex-direction: row;  /* Places elements in horizontal axis */
  justify-content: space-around; /* Distributes elements evenly */
  align-items: flex-start; /* Aligns items vertically in the center */
  text-align: center; /* Centers social media icons */
}

.social-media i {
  margin: 0.3em 0.3em; /* Adds spacing around icons */
  font-size: 2em; /* Sets icon size */
  color: #795757; /* Sets default icon color */
  transition: 0.6s; /* Adds smooth transition effect */
}

/* Class madeBy */
.madeby {
  font-weight: bold; /* Makes text bold */
  margin: 1rem 0 0 0; /* Adds spacing above */
  text-align: center; /* Centers text */
}
